body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}


html {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

.MainContainer {
    position: static;
    left: 5%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 2px solid mediumturquoise;
    transition: 1s transform;
}


.book {
    position: relative;
    overflow: hidden;
    height:  10vw;
    width: 25vw;
    border: 2px solid purple;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.10);
    padding: 0;
}

.container:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.container:hover ~ .container {
    transform: translate3d(20%, 0, 0);
}

.container {

    width: 100%;
    height: auto;
    transition: 1s transform;
    -webkit-transition: 1s;
    transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    border: 2px solid red;


    padding: 0;
}

td {
    width: 100%;
    height: 100%;
}

.title {
    float: left;
    width: 44%;
    font-size: 1vw;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    border: 2px solid green;
    margin: 0;
    position: relative;
    top: 25%;
}
.bookImage{
    position: relative;
    height: auto;
    float: right;
    width: 44%;
    margin:0;
  padding-bottom: 56.25%;
    border: 2px solid rgb(85, 0, 243);
    overflow: hidden;
    
}
.bookImage img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 50%; height: auto;

}

.authors {
    width: 44%;
    float: left;
    margin-top: 2%;
    padding: 0;
    margin: 0;
    border: 2px solid green;
    margin: 0;
    position: relative;
    top: 27%;
}

.authorsName {
    float: left;
    margin-right: 1%;
    font-size: 0.8vw;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0;
    margin: 0;
    position: relative;
}
.info {
    position: relative;
    width: 100%;
    bottom: 0%;
    border: 2px solid blue;
}

.fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.fadein {
    opacity: 1;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.hidden{

    display: none;
}
.show{
    position: absolute;
    bottom: 0%;
    width:100%;
    top:100%;
    right: 0%;
    padding-top:75%;
    display: table-cell;
}