doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css').
    script(src="https://fb.me/react-15.2.1.min.js").
    script(src="https://fb.me/react-dom-15.2.1.min.js").
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js").
    script(type="text/babel" src="/javascripts/searchResults.js").
    //script(type="text/javascript" src="https://www.googleapis.com/books/v1/volumes/zyTCAlFPjgYC?key=AIzaSyBV2L07EDS5v9VShRn-tV0FITu9Py5hygQ")
      
  body
    block content
